name: clang-format check
on: [push]
jobs:
  formatting-check:
    name: Check code format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run clang-format style check
    - run: find . -regex '.*\.\(cpp\|hpp\|cc\|cxx\|h\|c\|hh\)' -exec clang-format -style=file -i {} \;
    - run: expr length + "$(git diff)" ">" 0